---
import Layout from "../layouts/Layout.astro";
import Rater from "../components/Rater";
import { ratings } from "../base";
import HeaderLogo from "../components/HeaderLogo.astro";
import KinkCheck from "../components/KinkCheck";
---

<Layout>
	<header>
		<HeaderLogo />
		<div class="ratings">
			{
				ratings.map(([n], i) => (
					<Rater text={n} rating={i} className="rater noclick" />
				))
			}
		</div>
	</header>
	<!-- TODO: some explainations, of the functioning and of how the kinks should be interpreted -->
	<!-- TODO: add a name field -->
	<KinkCheck client:load />
</Layout>

<style>
	:global(body) {
		min-width: 450px;
	}
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.ratings {
		width: calc(600% / 7);
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
	}
	@media screen and (max-width: 800px) {
		.ratings {
			justify-content: space-between;
		}
	}
</style>
