---
import LyricBadge from "../components/LyricBadge.astro";
import { transbianLines } from "../base";
import Layout from "../layouts/Layout.astro";
import HeaderLogo from "../components/HeaderLogo.astro";
---

<Layout title="Trans Lesbian Badges">
    <header><HeaderLogo>&nbsp;Trans Lesbian Badges</HeaderLogo></header>
    <main>
        {
            transbianLines.map((x) => (
                <LyricBadge line={x[0]} description={x[1]} />
            ))
        }
    </main>
</Layout>

<style>
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, 30ch);
        gap: 5ch;
        margin: 5ch;
    }
</style>
