---
import { version } from "../../package.json";

export interface Props {
    includeVersion?: boolean;
}

const { includeVersion = true } = Astro.props;
const v = includeVersion ? " v" + version : "";
---

<h1>
    <a href="/">
        <span class="k">K</span>ink<span class="c">C</span>heck<span class="t"
            >.Top{v}</span
        >
    </a><slot />
</h1>

<style>
    h1 {
        margin: 0;
    }
    .k {
        color: rgb(var(--cmpurple));
    }
    .c {
        color: rgb(var(--cmred));
    }
    .t {
        font-size: 0.75em;
    }
    a {
        color: white;
        text-decoration: none;
    }
</style>
