.tr {
    border: 0.05em solid #303030;
}

.td {
    padding-left: 0.375em;
    padding-top: 0.094em;
    padding-bottom: 0.094em;
    position: relative;
}

.desc {
    background-color: rgb(var(--cmblack));
    color: white;
    visibility: hidden;
    width: 30ch;
    text-align: center;
    border-radius: 0.5em;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    padding: 0.125em;
}

.td:hover .desc {
    visibility: visible;
}

.td:hover .desc:hover {
    visibility: hidden;
}
