.tr {
    border: 1px solid #303030;
}

.td {
    padding: .1em .05em .1em .4em;
    position: relative;
}

.td:last-child {
    padding-right: .4em;
}

.desc {
    background-color: rgb(var(--cmblack));
    color: white;
    visibility: hidden;
    width: 300px;
    text-align: center;
    border-radius: .5em;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
}

.td:hover .desc {
    visibility: visible;
}

.td:hover .desc:hover {
    visibility: hidden;
}
