.catcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 2ch;
}

.table {
    border: 1px solid #303030;
    border-collapse: collapse;
    font-size: 16pt;
}

.catname {
    margin-bottom: 6px;
    margin-top: 9px;
}

.category {
    min-width: 28%;
}

@media screen and (width <= 800px) {
    :global(body:not(.screenshot)) .category,
    :global(body:not(.screenshot)) .table {
        width: 100%;
    }
}
