.catcontainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 2ch;
    container: catcontainer / inline-size;
}

.table {
    border: 0.05em solid #303030;
    border-collapse: collapse;
    font-size: 1.333em;
}

.catname {
    margin-bottom: 0.25em;
    margin-top: 0.35em;
}

.category {
    min-width: 28%;
}

@media screen and (width <= 800px) {
    :global(body:not(.screenshot)) .category,
    :global(body:not(.screenshot)) .table {
        width: 100%;
    }
}
