.clickable,
.noclick {
    font-size: 16pt;
    height: 16pt;
    display: flex;
    flex-direction: row;
}

.clickable button,
.noclick button {
    width: 16pt;
    height: 16pt;
    border: none;
    margin-right: .1875em;
    padding: 0 8pt;
}

.clickable,
.clickable * {
    cursor: pointer;
    user-select: none;
}

.position {
    margin-top: -.05em;
}
