---
import { ratings } from "../base";
import Rater from "./Rater";
---

<div>
    {ratings.map(([n], i) => <Rater text={n} rating={i} clickable={false} />)}
</div>

<style>
    div {
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 2ch;
        font-size: 16pt;
    }
    @media screen and (width <= 800px) {
        :global(body:not(.screenshot)) div {
            justify-content: space-between;
        }
    }
</style>
