.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.settings {
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-between;
    padding: 1em 0;
}

.sexrewind {
    width: 950px;
    height: 950px;
    background-color: #b6fbed;
    color: #a9337e;
    font-size: 96pt;
    font-family: var(--sans-serif);
    font-weight: bold;
    padding: 25px;
    justify-content: space-between;
}

.sextimes {
    font-weight: bolder;
    color: black;
    font-size: 1.2em;
    text-align: center;
}

.sextext2 {
    text-align: end;
}

.sexdesc {
    font-size: .35em;
    width: 100%;
    text-align: center;
}

.sexstats {
    justify-content: space-between;
}

.sexminstext {
    width: 100%;
    text-align: center;
    font-size: .45em;
    color: #5e9abc;
}

.sexminsnum {
    width: 100%;
    text-align: center;
    color: #d78f52;
    font-weight: bolder;
}
