---
import { BaseLayout } from "cmdesigns";
import favicon from "../favicon.png";
import { version } from "../../package.json";

export interface Props {
    title?: string;
}

const kc = `KinkCheck v${version}`
let { title = kc } = Astro.props;
if(!title.includes(kc)) title += " | " + kc;
---

<BaseLayout
    lang="en"
    copyrightstart={2023}
    repo="https://github.com/chrissxMedia/kinkcheck.top"
    {title}
    {favicon}
>
    <div id="content">
        <slot />
    </div>
    <nav slot="footer">
        <a href="/tlcc">Trans Lesbian Badges</a>
        <a href="/flag">Flag Generator</a>
        <a id="screenshot" download={`${title}.png`}>Take a Screenshot</a>
    </nav>
    <script>
        import html2canvas from "html2canvas";
        const scnsh = document.getElementById("screenshot")!;
        scnsh.onclick = () =>
            html2canvas(document.getElementById("content")!, {
                backgroundColor: "black",
                windowWidth: 1440,
                scale: 2,
            }).then((canvas) => {
                console.log(canvas);
                scnsh.setAttribute(
                    "href",
                    canvas
                        .toDataURL("image/png")
                        .replace("image/png", "image/octet-stream"),
                );
                const handler = scnsh.onclick;
                scnsh.onclick = () => {};
                scnsh.click();
                scnsh.onclick = handler;
                scnsh.removeAttribute("href");
            });
    </script>
</BaseLayout>

<style is:global>
    body {
        margin: 0;
    }
    div#content {
        padding: 12px;
        margin: auto;
    }
    nav {
        display: flex;
        column-gap: 1ch;
        justify-content: center;
    }
    a,
    :visited {
        color: #c0c0c0;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
