---
import { BaseLayout } from "cmdesigns";
import favicon from "../favicon.png";
import { version } from "../../package.json";
import ScreenshotButton from "../components/ScreenshotButton";

export interface Props {
    title?: string;
}

const kc = `KinkCheck.Top v${version}`;
let { title = kc } = Astro.props;
if (!title.includes(kc)) title += " | " + kc;
---

<BaseLayout
    lang="en"
    copyrightstart={2023}
    repo="https://github.com/chrissxMedia/KinkCheck.Top"
    {title}
    {favicon}
>
    <div id="content">
        <slot />
    </div>
    <nav slot="footer">
        <a href="/tlcc">Trans Lesbian Badges</a>
        <a href="/flag">Flag Generator</a>
        <ScreenshotButton title={title} client:load />
    </nav>
</BaseLayout>

<style is:global>
    body {
        margin: 0;
    }
    div#content {
        padding: 12px;
        margin: auto;
    }
    @media screen and (max-width: 600px) {
        div#content {
            padding: 0;
        }
    }
    nav {
        display: flex;
        column-gap: 1ch;
        justify-content: center;
    }
    a,
    :visited {
        color: #c0c0c0;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
