---
import Layout from "./Layout.astro";

export type Props = { frontmatter: { title: string } };

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main>
        <slot />
    </main>
</Layout>

<style>
    :global(div#content) {
        max-width: 120ch;
    }

    main :global(p) {
        font-family: var(--sans-serif);
        font-size: 16pt;
    }
</style>
